<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.anotherdev.firebase.auth.core">

    <application>

        <provider
            android:authorities="${applicationId}.anotherdev.firebase.auth.init.provider"
            android:name="com.anotherdev.firebase.auth.init.InternalFirebaseAuthRestInitProvider"
            android:initOrder="10000"
            android:exported="false" />
        
        <service android:name="com.google.firebase.components.ComponentDiscoveryService">
            <meta-data
                android:name="com.google.firebase.components:com.anotherdev.firebase.auth.rest.RestAuthComponentRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.auth.FirebaseAuthRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"
                tools:node="remove" />
        </service>

    </application>

</manifest>
